body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
}

/* Toggle bar */
.toggle-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: #333;
}
.toggle-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: #0655a4;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.toggle-bar button.active {
    background: #0655a4;
}

/* Sections */
.section {
    flex: 1;
    display: none;
    overflow-y: auto;
    padding: 20px;
    background: #008080;
}
.section.active {
    display: block;
}

/* Calculator */
.calculator {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.calculator2 {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    padding: 30px;
    margin-top: 50px;
    width: 900px;
    margin: 0 auto;
}
.calculator h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.form-row label {
    flex: 1;
    font-weight: bold;
}
label.title1 { color: #0655a4; }   /* Blue */
label.title2 { color: #c21919; }      /* Red */
label.title3 { color: #108a2d; }      /* Green */
label.title4 { color: #993366; }    /* pruple */
.form-row input {
    flex: 1.5;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}
.calculator button {
    width: 100%;
    padding: 12px;
    background: #108a2d;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.calculator button:hover {
    background: #0e6e24;
}
.result {
    background: #f9f9f9;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
    text-align: left;
    font-weight: bold;
    color: #333;
    line-height: 1.6;
}
.result div.label { color: #555; }
.result div.label.fee { color: #555; font-size: 10px; font-style: italic;}
.result div.value { text-align: right; }
.value.position { color: #006622;}
.value.pnl { color: #b32d00; }
.value.rr { color: #993366; }
.value.fee { color: #555; font-size: 12px; font-style: italic;}